[Desktop Entry]
Name=AMD Standard - from AMD K8
Name[ar]=AMD Standard - from AMD K8
Name[ast]=AMD Standard - from AMD K8
Name[be]=AMD Standard - from AMD K8
Name[bn]=AMD Standard - from AMD K8
Name[ca]=AMD Standard - from AMD K8
Name[cs]=AMD Standard - from AMD K8
Name[da]=AMD Standard - from AMD K8
Name[de]=AMD Standard - from AMD K8
Name[el]=AMD Standard - from AMD K8
Name[en_GB]=AMD Standard - from AMD K8
Name[eo]=AMD Standard - from AMD K8
Name[es]=AMD Standard - from AMD K8
Name[et]=AMD Standard - from AMD K8
Name[eu]=AMD Standard - from AMD K8
Name[fi]=AMD Standard - from AMD K8
Name[fr]=AMD Standard - from AMD K8
Name[gl]=AMD Standard - from AMD K8
Name[he]=AMD Standard - from AMD K8
Name[hr]=AMD Standard - from AMD K8
Name[hu]=AMD Standard - from AMD K8
Name[id]=AMD Standard - from AMD K8
Name[it]=AMD Standard - from AMD K8
Name[ja]=AMD Standard - from AMD K8
Name[kk]=AMD Standard - from AMD K8
Name[ko]=AMD Standard - from AMD K8
Name[lt]=AMD Standard - from AMD K8
Name[lv]=AMD Standard - from AMD K8
Name[nb]=AMD Standard - from AMD K8
Name[nl]=AMD Standard - from AMD K8
Name[nn]=AMD Standard - from AMD K8
Name[pa]=AMD Standard - from AMD K8
Name[pl]=AMD Standard - od AMD K8
Name[pt]=AMD Standard - from AMD K8
Name[pt_BR]=AMD Standard - from AMD K8
Name[ro]=AMD Standard - from AMD K8
Name[ru]=AMD Standard - from AMD K8
Name[si]=AMD Standard - from AMD K8
Name[sk]=AMD Standard - from AMD K8
Name[sq]=AMD Standard - from AMD K8
Name[sr]=AMD Standard - from AMD K8
Name[sv]=AMD Standard - from AMD K8
Name[te]=AMD Standard - from AMD K8
Name[tr]=AMD Standard - from AMD K8
Name[ug]=AMD Standard - from AMD K8
Name[uk]=AMD Standard - from AMD K8
Name[ur]=AMD Standard - from AMD K8
Name[ur_PK]=AMD Standard - from AMD K8
Name[vi]=AMD Standard - from AMD K8
Name[zh_CN]=AMD Standard - from AMD K8
Name[zh_TW]=AMD Standard - from AMD K8
Comment=AMD Standard - from AMD K8
Comment[ar]=AMD Standard - from AMD K8
Comment[ast]=AMD Standard - from AMD K8
Comment[be]=AMD Standard - from AMD K8
Comment[bn]=AMD Standard - from AMD K8
Comment[ca]=AMD Standard - from AMD K8
Comment[cs]=AMD Standard - from AMD K8
Comment[da]=AMD Standard - from AMD K8
Comment[de]=AMD Standard - from AMD K8
Comment[el]=AMD Standard - from AMD K8
Comment[en_GB]=AMD Standard - from AMD K8
Comment[eo]=AMD Standard - from AMD K8
Comment[es]=AMD Standard - from AMD K8
Comment[et]=AMD Standard - from AMD K8
Comment[eu]=AMD Standard - from AMD K8
Comment[fi]=AMD Standard - from AMD K8
Comment[fr]=AMD Standard - from AMD K8
Comment[gl]=AMD Standard - from AMD K8
Comment[he]=AMD Standard - from AMD K8
Comment[hr]=AMD Standard - from AMD K8
Comment[hu]=AMD Standard - from AMD K8
Comment[id]=AMD Standard - from AMD K8
Comment[it]=AMD Standard - from AMD K8
Comment[ja]=AMD Standard - from AMD K8
Comment[kk]=AMD Standard - from AMD K8
Comment[ko]=AMD Standard - from AMD K8
Comment[lt]=AMD Standard - from AMD K8
Comment[lv]=AMD Standard - from AMD K8
Comment[nb]=AMD Standard - from AMD K8
Comment[nl]=AMD Standard - from AMD K8
Comment[nn]=AMD Standard - from AMD K8
Comment[pa]=AMD Standard - from AMD K8
Comment[pl]=K8 - od Intel C2D, AMD K8
Comment[pt]=AMD Standard - from AMD K8
Comment[pt_BR]=AMD Standard - from AMD K8
Comment[ro]=AMD Standard - from AMD K8
Comment[ru]=AMD Standard - from AMD K8
Comment[sk]=AMD Standard - from AMD K8
Comment[sq]=AMD Standard - from AMD K8
Comment[sr]=AMD Standard - from AMD K8
Comment[sv]=AMD Standard - from AMD K8
Comment[te]=AMD Standard - from AMD K8
Comment[tr]=AMD Standard - from AMD K8
Comment[ug]=AMD Standard - from AMD K8
Comment[uk]=AMD Standard - from AMD K8
Comment[ur]=AMD Standard - from AMD K8
Comment[ur_PK]=AMD Standard - from AMD K8
Comment[vi]=AMD Standard - from AMD K8
Comment[zh_CN]=AMD Standard - from AMD K8
Comment[zh_TW]=AMD Standard - from AMD K8
GenericName=AMD Standard - from AMD K8
GenericName[ar]=AMD Standard - from AMD K8
GenericName[ast]=AMD Standard - from AMD K8
GenericName[be]=AMD Standard - from AMD K8
GenericName[bn]=AMD Standard - from AMD K8
GenericName[ca]=AMD Standard - from AMD K8
GenericName[cs]=AMD Standard - from AMD K8
GenericName[da]=AMD Standard - from AMD K8
GenericName[de]=AMD Standard - from AMD K8
GenericName[el]=AMD Standard - from AMD K8
GenericName[en_GB]=AMD Standard - from AMD K8
GenericName[eo]=AMD Standard - from AMD K8
GenericName[es]=AMD Standard - from AMD K8
GenericName[et]=AMD Standard - from AMD K8
GenericName[eu]=AMD Standard - from AMD K8
GenericName[fi]=AMD Standard - from AMD K8
GenericName[fr]=AMD Standard - from AMD K8
GenericName[gl]=AMD Standard - from AMD K8
GenericName[he]=AMD Standard - from AMD K8
GenericName[hr]=AMD Standard - from AMD K8
GenericName[hu]=AMD Standard - from AMD K8
GenericName[id]=AMD Standard - from AMD K8
GenericName[it]=AMD Standard - from AMD K8
GenericName[ja]=AMD Standard - from AMD K8
GenericName[kk]=AMD Standard - from AMD K8
GenericName[ko]=AMD Standard - from AMD K8
GenericName[lt]=AMD Standard - from AMD K8
GenericName[lv]=AMD Standard - from AMD K8
GenericName[nb]=AMD Standard - from AMD K8
GenericName[nl]=AMD Standard - from AMD K8
GenericName[nn]=AMD Standard - from AMD K8
GenericName[pa]=AMD Standard - from AMD K8
GenericName[pl]=AMD Standard - od AMD K8
GenericName[pt]=AMD Standard - from AMD K8
GenericName[pt_BR]=AMD Standard - from AMD K8
GenericName[ro]=AMD Standard - from AMD K8
GenericName[ru]=AMD Standard - from AMD K8
GenericName[si]=AMD Standard - from AMD K8
GenericName[sk]=AMD Standard - from AMD K8
GenericName[sq]=AMD Standard - from AMD K8
GenericName[sr]=AMD Standard - from AMD K8
GenericName[sv]=AMD Standard - from AMD K8
GenericName[te]=AMD Standard - from AMD K8
GenericName[tr]=AMD Standard - from AMD K8
GenericName[ug]=AMD Standard - from AMD K8
GenericName[uk]=AMD Standard - from AMD K8
GenericName[ur]=AMD Standard - from AMD K8
GenericName[ur_PK]=AMD Standard - from AMD K8
GenericName[vi]=AMD Standard - from AMD K8
GenericName[zh_CN]=AMD Standard - from AMD K8
GenericName[zh_TW]=AMD Standard - from AMD K8

Exec=/opt/NeteXt73/./kernele amdstandard
Icon=/opt/NeteXt73/ikony/amd_logo.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
Name[pl_PL.UTF-8]=AMD Standard - od AMD K8
