[Desktop Entry]
Name=Ryzen
Name[ar]=Ryzen 
Name[ast]=Ryzen 
Name[be]=Ryzen 
Name[bn]=Ryzen 
Name[ca]=Ryzen 
Name[cs]=Ryzen 
Name[da]=Ryzen 
Name[de]=Ryzen 
Name[el]=Ryzen 
Name[en_GB]=Ryzen 
Name[eo]=Ryzen 
Name[es]=Ryzen 
Name[et]=Ryzen 
Name[eu]=Ryzen 
Name[fi]=Ryzen 
Name[fr]=Ryzen 
Name[gl]=Ryzen 
Name[he]=Ryzen 
Name[hr]=Ryzen 
Name[hu]=Ryzen 
Name[id]=Ryzen 
Name[it]=Ryzen 
Name[ja]=Ryzen 
Name[kk]=Ryzen 
Name[ko]=Ryzen 
Name[lt]=Ryzen 
Name[lv]=Ryzen 
Name[nb]=Ryzen 
Name[nl]=Ryzen 
Name[nn]=Ryzen 
Name[pa]=Ryzen 
Name[pl]=Ryzen 
Name[pt]=Ryzen 
Name[pt_BR]=Ryzen 
Name[ro]=Ryzen 
Name[ru]=Ryzen 
Name[si]=Ryzen 
Name[sk]=Ryzen 
Name[sq]=Ryzen 
Name[sr]=Ryzen 
Name[sv]=Ryzen 
Name[te]=Ryzen 
Name[tr]=Ryzen 
Name[ug]=Ryzen 
Name[uk]=Ryzen 
Name[ur]=Ryzen 
Name[ur_PK]=Ryzen 
Name[vi]=Ryzen 
Name[zh_CN]=Ryzen 
Name[zh_TW]=Ryzen 
Comment=Kernel designed for AMD chips based on the Ryzen architecture.  
Comment[ar]=Kernel designed for AMD chips based on the Ryzen architecture.  
Comment[ast]=Kernel designed for AMD chips based on the Ryzen architecture.  
Comment[be]=Kernel designed for AMD chips based on the Ryzen architecture.  
Comment[bn]=Kernel designed for AMD chips based on the Ryzen architecture.  
Comment[ca]=Kernel designed for AMD chips based on the Ryzen architecture.  
Comment[cs]=Kernel designed for AMD chips based on the Ryzen architecture.  
Comment[da]=Kernel designed for AMD chips based on the Ryzen architecture.  
Comment[de]=Kernel designed for AMD chips based on the Ryzen architecture.  
Comment[el]=Kernel designed for AMD chips based on the Ryzen architecture.  
Comment[en_GB]=Kernel designed for AMD chips based on the Ryzen architecture.  
Comment[eo]=Kernel designed for AMD chips based on the Ryzen architecture.  
Comment[es]=Kernel designed for AMD chips based on the Ryzen architecture.  
Comment[et]=Kernel designed for AMD chips based on the Ryzen architecture.  
Comment[eu]=Kernel designed for AMD chips based on the Ryzen architecture.  
Comment[fi]=Kernel designed for AMD chips based on the Ryzen architecture.  
Comment[fr]=Kernel designed for AMD chips based on the Ryzen architecture.  
Comment[gl]=Kernel designed for AMD chips based on the Ryzen architecture.  
Comment[he]=Kernel designed for AMD chips based on the Ryzen architecture.  
Comment[hr]=Kernel designed for AMD chips based on the Ryzen architecture.  
Comment[hu]=Kernel designed for AMD chips based on the Ryzen architecture.  
Comment[id]=Kernel designed for AMD chips based on the Ryzen architecture.  
Comment[it]=Kernel designed for AMD chips based on the Ryzen architecture.  
Comment[ja]=Kernel designed for AMD chips based on the Ryzen architecture.  
Comment[kk]=Kernel designed for AMD chips based on the Ryzen architecture.  
Comment[ko]=Kernel designed for AMD chips based on the Ryzen architecture.  
Comment[lt]=Kernel designed for AMD chips based on the Ryzen architecture.  
Comment[lv]=Kernel designed for AMD chips based on the Ryzen architecture.  
Comment[nb]=Kernel designed for AMD chips based on the Ryzen architecture.  
Comment[nl]=Kernel designed for AMD chips based on the Ryzen architecture.  
Comment[nn]=Kernel designed for AMD chips based on the Ryzen architecture.  
Comment[pa]=Kernel designed for AMD chips based on the Ryzen architecture.  
Comment[pl]=Kernel przeznaczony dla chipów AMD opartych o architekturę Ryzen. 
Comment[pt]=Kernel designed for AMD chips based on the Ryzen architecture.  
Comment[pt_BR]=Kernel designed for AMD chips based on the Ryzen architecture.  
Comment[ro]=Kernel designed for AMD chips based on the Ryzen architecture.  
Comment[ru]=Kernel designed for AMD chips based on the Ryzen architecture.  
Comment[sk]=Kernel designed for AMD chips based on the Ryzen architecture.  
Comment[sq]=Kernel designed for AMD chips based on the Ryzen architecture.  
Comment[sr]=Kernel designed for AMD chips based on the Ryzen architecture.  
Comment[sv]=Kernel designed for AMD chips based on the Ryzen architecture.  
Comment[te]=Kernel designed for AMD chips based on the Ryzen architecture.  
Comment[tr]=Kernel designed for AMD chips based on the Ryzen architecture.  
Comment[ug]=Kernel designed for AMD chips based on the Ryzen architecture.  
Comment[uk]=Kernel designed for AMD chips based on the Ryzen architecture.  
Comment[ur]=Kernel designed for AMD chips based on the Ryzen architecture.  
Comment[ur_PK]=Kernel designed for AMD chips based on the Ryzen architecture.  
Comment[vi]=Kernel designed for AMD chips based on the Ryzen architecture.  
Comment[zh_CN]=Kernel designed for AMD chips based on the Ryzen architecture.  
Comment[zh_TW]=Kernel designed for AMD chips based on the Ryzen architecture.  
GenericName=Ryzen 
GenericName[ar]=Ryzen 
GenericName[ast]=Ryzen 
GenericName[be]=Ryzen 
GenericName[bn]=Ryzen 
GenericName[ca]=Ryzen 
GenericName[cs]=Ryzen 
GenericName[da]=Ryzen 
GenericName[de]=Ryzen 
GenericName[el]=Ryzen 
GenericName[en_GB]=Ryzen 
GenericName[eo]=Ryzen 
GenericName[es]=Ryzen 
GenericName[et]=Ryzen 
GenericName[eu]=Ryzen 
GenericName[fi]=Ryzen 
GenericName[fr]=Ryzen 
GenericName[gl]=Ryzen 
GenericName[he]=Ryzen 
GenericName[hr]=Ryzen 
GenericName[hu]=Ryzen 
GenericName[id]=Ryzen 
GenericName[it]=Ryzen 
GenericName[ja]=Ryzen 
GenericName[kk]=Ryzen 
GenericName[ko]=Ryzen 
GenericName[lt]=Ryzen 
GenericName[lv]=Ryzen 
GenericName[nb]=Ryzen 
GenericName[nl]=Ryzen 
GenericName[nn]=Ryzen 
GenericName[pa]=Ryzen 
GenericName[pl]=Ryzen 
GenericName[pt]=Ryzen 
GenericName[pt_BR]=Ryzen 
GenericName[ro]=Ryzen 
GenericName[ru]=Ryzen 
GenericName[si]=Ryzen 
GenericName[sk]=Ryzen 
GenericName[sq]=Ryzen 
GenericName[sr]=Ryzen 
GenericName[sv]=Ryzen 
GenericName[te]=Ryzen 
GenericName[tr]=Ryzen 
GenericName[ug]=Ryzen 
GenericName[uk]=Ryzen 
GenericName[ur]=Ryzen 
GenericName[ur_PK]=Ryzen 
GenericName[vi]=Ryzen 
GenericName[zh_CN]=Ryzen 
GenericName[zh_TW]=Ryzen 
Exec=/opt/NeteXt73/./kernele ryzen
Icon=/opt/NeteXt73/ikony/ryzen.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
Name[pl_PL.UTF-8]=Ryzen
