[Desktop Entry]
Name=NeteXt'73 - optimizer
Name[ar]=NeteXt'73 - optimizer
Name[ast]=NeteXt'73 - optimizer
Name[be]=NeteXt'73 - optimizer
Name[bn]=NeteXt'73 - optimizer
Name[ca]=NeteXt'73 - optimizer
Name[cs]=NeteXt'73 - optimizer
Name[da]=NeteXt'73 - optimizer
Name[de]=NeteXt'73 - optimizer
Name[el]=NeteXt'73 - optimizer
Name[en_GB]=NeteXt'73 - optimizer
Name[eo]=NeteXt'73 - optimizer
Name[es]=NeteXt'73 - optimizer
Name[et]=NeteXt'73 - optimizer
Name[eu]=NeteXt'73 - optimizer
Name[fi]=NeteXt'73 - optimizer
Name[fr]=NeteXt'73 - optimiseur
Name[gl]=NeteXt'73 - optimizer
Name[he]=NeteXt'73 - optimizer
Name[hr]=NeteXt'73 - optimizer
Name[hu]=NeteXt'73 - optimizer
Name[id]=NeteXt'73 - optimizer
Name[it]=NeteXt'73 - optimizer
Name[ja]=NeteXt'73 - optimizer
Name[kk]=NeteXt'73 - optimizer
Name[ko]=NeteXt'73 - optimizer
Name[lt]=NeteXt'73 - optimizer
Name[lv]=NeteXt'73 - optimizer
Name[nb]=NeteXt'73 - optimizer
Name[nl]=NeteXt'73 - optimizer
Name[nn]=NeteXt'73 - optimizer
Name[pa]=NeteXt'73 - optimizer
Name[pl]=NeteXt'73 - optymalizator systemu
Name[pt]=NeteXt'73 - optimizer
Name[pt_BR]=NeteXt'73 - optimizer
Name[ro]=NeteXt'73 - optimizer
Name[ru]=NeteXt'73 - optimizer
Name[si]=NeteXt'73 - optimizer
Name[sk]=NeteXt'73 - optimizer
Name[sq]=NeteXt'73 - optimizer
Name[sr]=NeteXt'73 - optimizer
Name[sv]=NeteXt'73 - optimizer
Name[te]=NeteXt'73 - optimizer
Name[tr]=NeteXt'73 - optimizer
Name[ug]=NeteXt'73 - optimizer
Name[uk]=NeteXt'73 - optimizer
Name[ur]=NeteXt'73 - optimizer
Name[ur_PK]=NeteXt'73 - optimizer
Name[vi]=NeteXt'73 - optimizer
Name[zh_CN]=NeteXt'73 - optimizer
Name[zh_TW]=NeteXt'73 - optimizer
Exec=bash netext73
Icon=NeteXt73
Terminal=false
StartupNotify=false
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
X-Desktop-File-Install-Version=0.22
