[Desktop Entry]
Name=Intel Standard - from Intel C2D
Name[ar]=Intel Standard - from Intel C2D
Name[ast]=Intel Standard - from Intel C2D
Name[be]=Intel Standard - from Intel C2D
Name[bn]=Intel Standard - from Intel C2D
Name[ca]=Intel Standard - from Intel C2D
Name[cs]=Intel Standard - from Intel C2D
Name[da]=Intel Standard - from Intel C2D
Name[de]=Intel Standard - from Intel C2D
Name[el]=Intel Standard - from Intel C2D
Name[en_GB]=Intel Standard - from Intel C2D
Name[eo]=Intel Standard - from Intel C2D
Name[es]=Intel Standard - from Intel C2D
Name[et]=Intel Standard - from Intel C2D
Name[eu]=Intel Standard - from Intel C2D
Name[fi]=Intel Standard - from Intel C2D
Name[fr]=Intel Standard - from Intel C2D
Name[gl]=Intel Standard - from Intel C2D
Name[he]=Intel Standard - from Intel C2D
Name[hr]=Intel Standard - from Intel C2D
Name[hu]=Intel Standard - from Intel C2D
Name[id]=Intel Standard - from Intel C2D
Name[it]=Intel Standard - from Intel C2D
Name[ja]=Intel Standard - from Intel C2D
Name[kk]=Intel Standard - from Intel C2D
Name[ko]=Intel Standard - from Intel C2D
Name[lt]=Intel Standard - from Intel C2D
Name[lv]=Intel Standard - from Intel C2D
Name[nb]=Intel Standard - from Intel C2D
Name[nl]=Intel Standard - from Intel C2D
Name[nn]=Intel Standard - from Intel C2D
Name[pa]=Intel Standard - from Intel C2D
Name[pl]=Intel Standard - od Intel C2D
Name[pt]=Intel Standard - from Intel C2D
Name[pt_BR]=Intel Standard - from Intel C2D
Name[ro]=Intel Standard - from Intel C2D
Name[ru]=Intel Standard - from Intel C2D
Name[si]=Intel Standard - from Intel C2D
Name[sk]=Intel Standard - from Intel C2D
Name[sq]=Intel Standard - from Intel C2D
Name[sr]=Intel Standard - from Intel C2D
Name[sv]=Intel Standard - from Intel C2D
Name[te]=Intel Standard - from Intel C2D
Name[tr]=Intel Standard - from Intel C2D
Name[ug]=Intel Standard - from Intel C2D
Name[uk]=Intel Standard - from Intel C2D
Name[ur]=Intel Standard - from Intel C2D
Name[ur_PK]=Intel Standard - from Intel C2D
Name[vi]=Intel Standard - from Intel C2D
Name[zh_CN]=Intel Standard - from Intel C2D
Name[zh_TW]=Intel Standard - from Intel C2D
Comment=Intel Standard - from Intel C2D
Comment[ar]=Intel Standard - from Intel C2D
Comment[ast]=Intel Standard - from Intel C2D
Comment[be]=Intel Standard - from Intel C2D
Comment[bn]=Intel Standard - from Intel C2D
Comment[ca]=Intel Standard - from Intel C2D
Comment[cs]=Intel Standard - from Intel C2D
Comment[da]=Intel Standard - from Intel C2D
Comment[de]=Intel Standard - from Intel C2D
Comment[el]=Intel Standard - from Intel C2D
Comment[en_GB]=Intel Standard - from Intel C2D
Comment[eo]=Intel Standard - from Intel C2D
Comment[es]=Intel Standard - from Intel C2D
Comment[et]=Intel Standard - from Intel C2D
Comment[eu]=Intel Standard - from Intel C2D
Comment[fi]=Intel Standard - from Intel C2D
Comment[fr]=Intel Standard - from Intel C2D
Comment[gl]=Intel Standard - from Intel C2D
Comment[he]=Intel Standard - from Intel C2D
Comment[hr]=Intel Standard - from Intel C2D
Comment[hu]=Intel Standard - from Intel C2D
Comment[id]=Intel Standard - from Intel C2D
Comment[it]=Intel Standard - from Intel C2D
Comment[ja]=Intel Standard - from Intel C2D
Comment[kk]=Intel Standard - from Intel C2D
Comment[ko]=Intel Standard - from Intel C2D
Comment[lt]=Intel Standard - from Intel C2D
Comment[lv]=Intel Standard - from Intel C2D
Comment[nb]=Intel Standard - from Intel C2D
Comment[nl]=Intel Standard - from Intel C2D
Comment[nn]=Intel Standard - from Intel C2D
Comment[pa]=Intel Standard - from Intel C2D
Comment[pl]=Intel Standard - od Intel C2D
Comment[pt]=Intel Standard - from Intel C2D
Comment[pt_BR]=Intel Standard - from Intel C2D
Comment[ro]=Intel Standard - from Intel C2D
Comment[ru]=Intel Standard - from Intel C2D
Comment[sk]=Intel Standard - from Intel C2D
Comment[sq]=Intel Standard - from Intel C2D
Comment[sr]=Intel Standard - from Intel C2D
Comment[sv]=Intel Standard - from Intel C2D
Comment[te]=Intel Standard - from Intel C2D
Comment[tr]=Intel Standard - from Intel C2D
Comment[ug]=Intel Standard - from Intel C2D
Comment[uk]=Intel Standard - from Intel C2D
Comment[ur]=Intel Standard - from Intel C2D
Comment[ur_PK]=Intel Standard - from Intel C2D
Comment[vi]=Intel Standard - from Intel C2D
Comment[zh_CN]=Intel Standard - from Intel C2D
Comment[zh_TW]=Intel Standard - from Intel C2D
GenericName=Intel Standard - from Intel C2D
GenericName[ar]=Intel Standard - from Intel C2D
GenericName[ast]=Intel Standard - from Intel C2D
GenericName[be]=Intel Standard - from Intel C2D
GenericName[bn]=Intel Standard - from Intel C2D
GenericName[ca]=Intel Standard - from Intel C2D
GenericName[cs]=Intel Standard - from Intel C2D
GenericName[da]=Intel Standard - from Intel C2D
GenericName[de]=Intel Standard - from Intel C2D
GenericName[el]=Intel Standard - from Intel C2D
GenericName[en_GB]=Intel Standard - from Intel C2D
GenericName[eo]=Intel Standard - from Intel C2D
GenericName[es]=Intel Standard - from Intel C2D
GenericName[et]=Intel Standard - from Intel C2D
GenericName[eu]=Intel Standard - from Intel C2D
GenericName[fi]=Intel Standard - from Intel C2D
GenericName[fr]=Intel Standard - from Intel C2D
GenericName[gl]=Intel Standard - from Intel C2D
GenericName[he]=Intel Standard - from Intel C2D
GenericName[hr]=Intel Standard - from Intel C2D
GenericName[hu]=Intel Standard - from Intel C2D
GenericName[id]=Intel Standard - from Intel C2D
GenericName[it]=Intel Standard - from Intel C2D
GenericName[ja]=Intel Standard - from Intel C2D
GenericName[kk]=Intel Standard - from Intel C2D
GenericName[ko]=Intel Standard - from Intel C2D
GenericName[lt]=Intel Standard - from Intel C2D
GenericName[lv]=Intel Standard - from Intel C2D
GenericName[nb]=Intel Standard - from Intel C2D
GenericName[nl]=Intel Standard - from Intel C2D
GenericName[nn]=Intel Standard - from Intel C2D
GenericName[pa]=Intel Standard - from Intel C2D
GenericName[pl]=Intel Standard - od Intel C2D
GenericName[pt]=Intel Standard - from Intel C2D
GenericName[pt_BR]=Intel Standard - from Intel C2D
GenericName[ro]=Intel Standard - from Intel C2D
GenericName[ru]=Intel Standard - from Intel C2D
GenericName[si]=Intel Standard - from Intel C2D
GenericName[sk]=Intel Standard - from Intel C2D
GenericName[sq]=Intel Standard - from Intel C2D
GenericName[sr]=Intel Standard - from Intel C2D
GenericName[sv]=Intel Standard - from Intel C2D
GenericName[te]=Intel Standard - from Intel C2D
GenericName[tr]=Intel Standard - from Intel C2D
GenericName[ug]=Intel Standard - from Intel C2D
GenericName[uk]=Intel Standard - from Intel C2D
GenericName[ur]=Intel Standard - from Intel C2D
GenericName[ur_PK]=Intel Standard - from Intel C2D
GenericName[vi]=Intel Standard - from Intel C2D
GenericName[zh_CN]=Intel Standard - from Intel C2D
GenericName[zh_TW]=Intel Standard - from Intel C2D


Exec=/opt/NeteXt73/./kernele intelstandard
Icon=/opt/NeteXt73/ikony/intel_logo.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
