[Desktop Entry]
Name=Graphical installer \nopen source drivers Mesa3D
Name[ar]=Graphical installer \nopen source drivers Mesa3D
Name[ast]=Graphical installer \nopen source drivers Mesa3D
Name[be]=Graphical installer \nopen source drivers Mesa3D
Name[bn]=Graphical installer \nopen source drivers Mesa3D
Name[ca]=Graphical installer \nopen source drivers Mesa3D
Name[cs]=Graphical installer \nopen source drivers Mesa3D
Name[da]=Graphical installer \nopen source drivers Mesa3D
Name[de]=Graphical installer \nopen source drivers Mesa3D
Name[el]=Graphical installer \nopen source drivers Mesa3D
Name[en_GB]=Graphical installer \nopen source drivers Mesa3D
Name[eo]=Graphical installer \nopen source drivers Mesa3D
Name[es]=Graphical installer \nopen source drivers Mesa3D
Name[et]=Graphical installer \nopen source drivers Mesa3D
Name[eu]=Graphical installer \nopen source drivers Mesa3D
Name[fi]=Graphical installer \nopen source drivers Mesa3D
Name[fr]=Graphical installer \nopen source drivers Mesa3D
Name[gl]=Graphical installer \nopen source drivers Mesa3D
Name[he]=Graphical installer \nopen source drivers Mesa3D
Name[hr]=Graphical installer \nopen source drivers Mesa3D
Name[hu]=Graphical installer \nopen source drivers Mesa3D
Name[id]=Graphical installer \nopen source drivers Mesa3D
Name[it]=Graphical installer \nopen source drivers Mesa3D
Name[ja]=Graphical installer \nopen source drivers Mesa3D
Name[kk]=Graphical installer \nopen source drivers Mesa3D
Name[ko]=Graphical installer \nopen source drivers Mesa3D
Name[lt]=Graphical installer \nopen source drivers Mesa3D
Name[lv]=Graphical installer \nopen source drivers Mesa3D
Name[nb]=Graphical installer \nopen source drivers Mesa3D
Name[nl]=Graphical installer \nopen source drivers Mesa3D
Name[nn]=Graphical installer \nopen source drivers Mesa3D
Name[pa]=Graphical installer \nopen source drivers Mesa3D
Name[pl]=Otwarte sterowniki Mesa3D
Name[pt]=Graphical installer \nopen source drivers Mesa3D
Name[pt_BR]=Graphical installer \nopen source drivers Mesa3D
Name[ro]=Graphical installer \nopen source drivers Mesa3D
Name[ru]=Graphical installer \nopen source drivers Mesa3D
Name[si]=Graphical installer \nopen source drivers Mesa3D
Name[sk]=Graphical installer \nopen source drivers Mesa3D
Name[sq]=Graphical installer \nopen source drivers Mesa3D
Name[sr]=Graphical installer \nopen source drivers Mesa3D
Name[sv]=Graphical installer \nopen source drivers Mesa3D
Name[te]=Graphical installer \nopen source drivers Mesa3D
Name[tr]=Graphical installer \nopen source drivers Mesa3D
Name[ug]=Graphical installer \nopen source drivers Mesa3D
Name[uk]=Graphical installer \nopen source drivers Mesa3D
Name[ur]=Graphical installer \nopen source drivers Mesa3D
Name[ur_PK]=Graphical installer \nopen source drivers Mesa3D
Name[vi]=Graphical installer \nopen source drivers Mesa3D
Name[zh_CN]=Graphical installer \nopen source drivers Mesa3D
Name[zh_TW]=Graphical installer \nopen source drivers Mesa3D
Comment=Graphical installer \nopen source drivers Mesa3D
Comment[ar]=Graphical installer \nopen source drivers Mesa3D
Comment[ast]=Graphical installer \nopen source drivers Mesa3D
Comment[be]=Graphical installer \nopen source drivers Mesa3D
Comment[bn]=Graphical installer \nopen source drivers Mesa3D
Comment[ca]=Graphical installer \nopen source drivers Mesa3D
Comment[cs]=Graphical installer \nopen source drivers Mesa3D
Comment[da]=Graphical installer \nopen source drivers Mesa3D
Comment[de]=Graphical installer \nopen source drivers Mesa3D
Comment[el]=Graphical installer \nopen source drivers Mesa3D
Comment[en_GB]=Graphical installer \nopen source drivers Mesa3D
Comment[eo]=Graphical installer \nopen source drivers Mesa3D
Comment[es]=Graphical installer \nopen source drivers Mesa3D
Comment[et]=Graphical installer \nopen source drivers Mesa3D
Comment[eu]=Graphical installer \nopen source drivers Mesa3D
Comment[fi]=Graphical installer \nopen source drivers Mesa3D
Comment[fr]=Graphical installer \nopen source drivers Mesa3D
Comment[gl]=Graphical installer \nopen source drivers Mesa3D
Comment[he]=Graphical installer \nopen source drivers Mesa3D
Comment[hr]=Graphical installer \nopen source drivers Mesa3D
Comment[hu]=Graphical installer \nopen source drivers Mesa3D
Comment[id]=Graphical installer \nopen source drivers Mesa3D
Comment[it]=Graphical installer \nopen source drivers Mesa3D
Comment[ja]=Graphical installer \nopen source drivers Mesa3D
Comment[kk]=Graphical installer \nopen source drivers Mesa3D
Comment[ko]=Graphical installer \nopen source drivers Mesa3D
Comment[lt]=Graphical installer \nopen source drivers Mesa3D
Comment[lv]=Graphical installer \nopen source drivers Mesa3D
Comment[nb]=Graphical installer \nopen source drivers Mesa3D
Comment[nl]=Graphical installer \nopen source drivers Mesa3D
Comment[nn]=Graphical installer \nopen source drivers Mesa3D
Comment[pa]=Graphical installer \nopen source drivers Mesa3D
Comment[pl]=Graficzny instalator otwartych sterowników Mesa 3D
Comment[pt]=Graphical installer \nopen source drivers Mesa3D
Comment[pt_BR]=Graphical installer \nopen source drivers Mesa3D
Comment[ro]=Graphical installer \nopen source drivers Mesa3D
Comment[ru]=Graphical installer \nopen source drivers Mesa3D
Comment[sk]=Graphical installer \nopen source drivers Mesa3D
Comment[sq]=Graphical installer \nopen source drivers Mesa3D
Comment[sr]=Graphical installer \nopen source drivers Mesa3D
Comment[sv]=Graphical installer \nopen source drivers Mesa3D
Comment[te]=Graphical installer \nopen source drivers Mesa3D
Comment[tr]=Graphical installer \nopen source drivers Mesa3D
Comment[ug]=Graphical installer \nopen source drivers Mesa3D
Comment[uk]=Graphical installer \nopen source drivers Mesa3D
Comment[ur]=Graphical installer \nopen source drivers Mesa3D
Comment[ur_PK]=Graphical installer \nopen source drivers Mesa3D
Comment[vi]=Graphical installer \nopen source drivers Mesa3D
Comment[zh_CN]=Graphical installer \nopen source drivers Mesa3D
Comment[zh_TW]=Graphical installer \nopen source drivers Mesa3D
GenericName=Graphical installer \nopen source drivers Mesa3D
GenericName[ar]=Graphical installer \nopen source drivers Mesa3D
GenericName[ast]=Graphical installer \nopen source drivers Mesa3D
GenericName[be]=Graphical installer \nopen source drivers Mesa3D
GenericName[bn]=Graphical installer \nopen source drivers Mesa3D
GenericName[ca]=Graphical installer \nopen source drivers Mesa3D
GenericName[cs]=Graphical installer \nopen source drivers Mesa3D
GenericName[da]=Graphical installer \nopen source drivers Mesa3D
GenericName[de]=Graphical installer \nopen source drivers Mesa3D
GenericName[el]=Graphical installer \nopen source drivers Mesa3D
GenericName[en_GB]=Graphical installer \nopen source drivers Mesa3D
GenericName[eo]=Graphical installer \nopen source drivers Mesa3D
GenericName[es]=Graphical installer \nopen source drivers Mesa3D
GenericName[et]=Graphical installer \nopen source drivers Mesa3D
GenericName[eu]=Graphical installer \nopen source drivers Mesa3D
GenericName[fi]=Graphical installer \nopen source drivers Mesa3D
GenericName[fr]=Graphical installer \nopen source drivers Mesa3D
GenericName[gl]=Graphical installer \nopen source drivers Mesa3D
GenericName[he]=Graphical installer \nopen source drivers Mesa3D
GenericName[hr]=Graphical installer \nopen source drivers Mesa3D
GenericName[hu]=Graphical installer \nopen source drivers Mesa3D
GenericName[id]=Graphical installer \nopen source drivers Mesa3D
GenericName[it]=Graphical installer \nopen source drivers Mesa3D
GenericName[ja]=Graphical installer \nopen source drivers Mesa3D
GenericName[kk]=Graphical installer \nopen source drivers Mesa3D
GenericName[ko]=Graphical installer \nopen source drivers Mesa3D
GenericName[lt]=Graphical installer \nopen source drivers Mesa3D
GenericName[lv]=Graphical installer \nopen source drivers Mesa3D
GenericName[nb]=Graphical installer \nopen source drivers Mesa3D
GenericName[nl]=Graphical installer \nopen source drivers Mesa3D
GenericName[nn]=Graphical installer \nopen source drivers Mesa3D
GenericName[pa]=Graphical installer \nopen source drivers Mesa3D
GenericName[pl]=Graficzny instalator otwartych sterowników Mesa 3D
GenericName[pt]=Graphical installer \nopen source drivers Mesa3D
GenericName[pt_BR]=Graphical installer \nopen source drivers Mesa3D
GenericName[ro]=Graphical installer \nopen source drivers Mesa3D
GenericName[ru]=Graphical installer \nopen source drivers Mesa3D
GenericName[si]=Graphical installer \nopen source drivers Mesa3D
GenericName[sk]=Graphical installer \nopen source drivers Mesa3D
GenericName[sq]=Graphical installer \nopen source drivers Mesa3D
GenericName[sr]=Graphical installer \nopen source drivers Mesa3D
GenericName[sv]=Graphical installer \nopen source drivers Mesa3D
GenericName[te]=Graphical installer \nopen source drivers Mesa3D
GenericName[tr]=Graphical installer \nopen source drivers Mesa3D
GenericName[ug]=Graphical installer \nopen source drivers Mesa3D
GenericName[uk]=Graphical installer \nopen source drivers Mesa3D
GenericName[ur]=Graphical installer \nopen source drivers Mesa3D
GenericName[ur_PK]=Graphical installer \nopen source drivers Mesa3D
GenericName[vi]=Graphical installer \nopen source drivers Mesa3D
GenericName[zh_CN]=Graphical installer \nopen source drivers Mesa3D
GenericName[zh_TW]=Graphical installer \nopen source drivers Mesa3D
Exec=/opt/NeteXt73/./grafiki mesa3d
Icon=/opt/NeteXt73/ikony/mesa3d.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
Name[pl_PL.UTF-8]=Otwarte sterowniki Mesa3D
