[Desktop Entry]
Name=Skylake
Name[ar]=Skylake
Name[ast]=Skylake
Name[be]=Skylake
Name[bn]=Skylake
Name[ca]=Skylake
Name[cs]=Skylake
Name[da]=Skylake
Name[de]=Skylake
Name[el]=Skylake
Name[en_GB]=Skylake
Name[eo]=Skylake
Name[es]=Skylake
Name[et]=Skylake
Name[eu]=Skylake
Name[fi]=Skylake
Name[fr]=Skylake
Name[gl]=Skylake
Name[he]=Skylake
Name[hr]=Skylake
Name[hu]=Skylake
Name[id]=Skylake
Name[it]=Skylake
Name[ja]=Skylake
Name[kk]=Skylake
Name[ko]=Skylake
Name[lt]=Skylake
Name[lv]=Skylake
Name[nb]=Skylake
Name[nl]=Skylake
Name[nn]=Skylake
Name[pa]=Skylake
Name[pl]=Skylake
Name[pt]=Skylake
Name[pt_BR]=Skylake
Name[ro]=Skylake
Name[ru]=Skylake
Name[si]=Skylake
Name[sk]=Skylake
Name[sq]=Skylake
Name[sr]=Skylake
Name[sv]=Skylake
Name[te]=Skylake
Name[tr]=Skylake
Name[ug]=Skylake
Name[uk]=Skylake
Name[ur]=Skylake
Name[ur_PK]=Skylake
Name[vi]=Skylake
Name[zh_CN]=Skylake
Name[zh_TW]=Skylake
Comment=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
Comment[ar]=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
Comment[ast]=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
Comment[be]=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
Comment[bn]=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
Comment[ca]=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
Comment[cs]=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
Comment[da]=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
Comment[de]=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
Comment[el]=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
Comment[en_GB]=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
Comment[eo]=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
Comment[es]=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
Comment[et]=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
Comment[eu]=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
Comment[fi]=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
Comment[fr]=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
Comment[gl]=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
Comment[he]=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
Comment[hr]=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
Comment[hu]=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
Comment[id]=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
Comment[it]=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
Comment[ja]=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
Comment[kk]=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
Comment[ko]=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
Comment[lt]=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
Comment[lv]=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
Comment[nb]=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
Comment[nl]=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
Comment[nn]=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
Comment[pa]=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
Comment[pl]=Kernel przeznaczony dla chipów Intela icore Skylake, np. i5 6200U.
Comment[pt]=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
Comment[pt_BR]=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
Comment[ro]=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
Comment[ru]=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
Comment[sk]=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
Comment[sq]=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
Comment[sr]=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
Comment[sv]=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
Comment[te]=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
Comment[tr]=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
Comment[ug]=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
Comment[uk]=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
Comment[ur]=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
Comment[ur_PK]=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
Comment[vi]=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
Comment[zh_CN]=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
Comment[zh_TW]=Kernel designed for Intel chips Icore Skylake, for example. I5 6200U.
GenericName=Skylake
GenericName[ar]=Skylake
GenericName[ast]=Skylake
GenericName[be]=Skylake
GenericName[bn]=Skylake
GenericName[ca]=Skylake
GenericName[cs]=Skylake
GenericName[da]=Skylake
GenericName[de]=Skylake
GenericName[el]=Skylake
GenericName[en_GB]=Skylake
GenericName[eo]=Skylake
GenericName[es]=Skylake
GenericName[et]=Skylake
GenericName[eu]=Skylake
GenericName[fi]=Skylake
GenericName[fr]=Skylake
GenericName[gl]=Skylake
GenericName[he]=Skylake
GenericName[hr]=Skylake
GenericName[hu]=Skylake
GenericName[id]=Skylake
GenericName[it]=Skylake
GenericName[ja]=Skylake
GenericName[kk]=Skylake
GenericName[ko]=Skylake
GenericName[lt]=Skylake
GenericName[lv]=Skylake
GenericName[nb]=Skylake
GenericName[nl]=Skylake
GenericName[nn]=Skylake
GenericName[pa]=Skylake
GenericName[pl]=Skylake
GenericName[pt]=Skylake
GenericName[pt_BR]=Skylake
GenericName[ro]=Skylake
GenericName[ru]=Skylake
GenericName[si]=Skylake
GenericName[sk]=Skylake
GenericName[sq]=Skylake
GenericName[sr]=Skylake
GenericName[sv]=Skylake
GenericName[te]=Skylake
GenericName[tr]=Skylake
GenericName[ug]=Skylake
GenericName[uk]=Skylake
GenericName[ur]=Skylake
GenericName[ur_PK]=Skylake
GenericName[vi]=Skylake
GenericName[zh_CN]=Skylake
GenericName[zh_TW]=Skylake

Exec=/opt/NeteXt73/./kernele skylake
Icon=/opt/NeteXt73/ikony/i7.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
