#!/usr/bin/make -f
LSB_CS = $(shell lsb_release -cs)
ifeq ($(LSB_CS),trusty)
SUBSTVARS = -Vdist:Depends="libgsl0ldbl"
else
SUBSTVARS = -Vdist:Depends="libgsl2"
endif

override_dh_gencontrol:
	dh_gencontrol -- $(SUBSTVARS)

%:
	dh $@
