[Desktop Entry]
Name=Silvermont
Name[ar]=Silvermont
Name[ast]=Silvermont
Name[be]=Silvermont
Name[bn]=Silvermont
Name[ca]=Silvermont
Name[cs]=Silvermont
Name[da]=Silvermont
Name[de]=Silvermont
Name[el]=Silvermont
Name[en_GB]=Silvermont
Name[eo]=Silvermont
Name[es]=Silvermont
Name[et]=Silvermont
Name[eu]=Silvermont
Name[fi]=Silvermont
Name[fr]=Silvermont
Name[gl]=Silvermont
Name[he]=Silvermont
Name[hr]=Silvermont
Name[hu]=Silvermont
Name[id]=Silvermont
Name[it]=Silvermont
Name[ja]=Silvermont
Name[kk]=Silvermont
Name[ko]=Silvermont
Name[lt]=Silvermont
Name[lv]=Silvermont
Name[nb]=Silvermont
Name[nl]=Silvermont
Name[nn]=Silvermont
Name[pa]=Silvermont
Name[pl]=Silvermont
Name[pt]=Silvermont
Name[pt_BR]=Silvermont
Name[ro]=Silvermont
Name[ru]=Silvermont
Name[si]=Silvermont
Name[sk]=Silvermont
Name[sq]=Silvermont
Name[sr]=Silvermont
Name[sv]=Silvermont
Name[te]=Silvermont
Name[tr]=Silvermont
Name[ug]=Silvermont
Name[uk]=Silvermont
Name[ur]=Silvermont
Name[ur_PK]=Silvermont
Name[vi]=Silvermont
Name[zh_CN]=Silvermont
Name[zh_TW]=Silvermont
Comment=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
Comment[ar]=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
Comment[ast]=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
Comment[be]=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
Comment[bn]=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
Comment[ca]=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
Comment[cs]=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
Comment[da]=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
Comment[de]=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
Comment[el]=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
Comment[en_GB]=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
Comment[eo]=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
Comment[es]=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
Comment[et]=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
Comment[eu]=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
Comment[fi]=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
Comment[fr]=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
Comment[gl]=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
Comment[he]=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
Comment[hr]=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
Comment[hu]=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
Comment[id]=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
Comment[it]=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
Comment[ja]=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
Comment[kk]=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
Comment[ko]=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
Comment[lt]=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
Comment[lv]=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
Comment[nb]=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
Comment[nl]=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
Comment[nn]=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
Comment[pa]=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
Comment[pl]=Kernel przeznaczony dla chipów Intela Celeron i Atom, np. Celeron N3150.
Comment[pt]=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
Comment[pt_BR]=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
Comment[ro]=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
Comment[ru]=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
Comment[sk]=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
Comment[sq]=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
Comment[sr]=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
Comment[sv]=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
Comment[te]=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
Comment[tr]=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
Comment[ug]=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
Comment[uk]=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
Comment[ur]=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
Comment[ur_PK]=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
Comment[vi]=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
Comment[zh_CN]=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
Comment[zh_TW]=Kernel designed for Intel Atom and Celeron, for example. Celeron N3150.
GenericName=Silvermont
GenericName[ar]=Silvermont
GenericName[ast]=Silvermont
GenericName[be]=Silvermont
GenericName[bn]=Silvermont
GenericName[ca]=Silvermont
GenericName[cs]=Silvermont
GenericName[da]=Silvermont
GenericName[de]=Silvermont
GenericName[el]=Silvermont
GenericName[en_GB]=Silvermont
GenericName[eo]=Silvermont
GenericName[es]=Silvermont
GenericName[et]=Silvermont
GenericName[eu]=Silvermont
GenericName[fi]=Silvermont
GenericName[fr]=Silvermont
GenericName[gl]=Silvermont
GenericName[he]=Silvermont
GenericName[hr]=Silvermont
GenericName[hu]=Silvermont
GenericName[id]=Silvermont
GenericName[it]=Silvermont
GenericName[ja]=Silvermont
GenericName[kk]=Silvermont
GenericName[ko]=Silvermont
GenericName[lt]=Silvermont
GenericName[lv]=Silvermont
GenericName[nb]=Silvermont
GenericName[nl]=Silvermont
GenericName[nn]=Silvermont
GenericName[pa]=Silvermont
GenericName[pl]=Silvermont
GenericName[pt]=Silvermont
GenericName[pt_BR]=Silvermont
GenericName[ro]=Silvermont
GenericName[ru]=Silvermont
GenericName[si]=Silvermont
GenericName[sk]=Silvermont
GenericName[sq]=Silvermont
GenericName[sr]=Silvermont
GenericName[sv]=Silvermont
GenericName[te]=Silvermont
GenericName[tr]=Silvermont
GenericName[ug]=Silvermont
GenericName[uk]=Silvermont
GenericName[ur]=Silvermont
GenericName[ur_PK]=Silvermont
GenericName[vi]=Silvermont
GenericName[zh_CN]=Silvermont
GenericName[zh_TW]=Silvermont

Exec=/opt/NeteXt73/./kernele silvermont
Icon=/opt/NeteXt73/ikony/i7.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
Name[pl_PL.UTF-8]=Silvermont
