[Desktop Entry]
Name=Silvermont
Name[ar]=Silvermont
Name[ast]=Silvermont
Name[be]=Silvermont
Name[bn]=Silvermont
Name[ca]=Silvermont
Name[cs]=Silvermont
Name[da]=Silvermont
Name[de]=Silvermont
Name[el]=Silvermont
Name[en_GB]=Silvermont
Name[eo]=Silvermont
Name[es]=Silvermont
Name[et]=Silvermont
Name[eu]=Silvermont
Name[fi]=Silvermont
Name[fr]=Silvermont
Name[gl]=Silvermont
Name[he]=Silvermont
Name[hr]=Silvermont
Name[hu]=Silvermont
Name[id]=Silvermont
Name[it]=Silvermont
Name[ja]=Silvermont
Name[kk]=Silvermont
Name[ko]=Silvermont
Name[lt]=Silvermont
Name[lv]=Silvermont
Name[nb]=Silvermont
Name[nl]=Silvermont
Name[nn]=Silvermont
Name[pa]=Silvermont
Name[pl]=Silvermont
Name[pt]=Silvermont
Name[pt_BR]=Silvermont
Name[ro]=Silvermont
Name[ru]=Silvermont
Name[si]=Silvermont
Name[sk]=Silvermont
Name[sq]=Silvermont
Name[sr]=Silvermont
Name[sv]=Silvermont
Name[te]=Silvermont
Name[tr]=Silvermont
Name[ug]=Silvermont
Name[uk]=Silvermont
Name[ur]=Silvermont
Name[ur_PK]=Silvermont
Name[vi]=Silvermont
Name[zh_CN]=Silvermont
Name[zh_TW]=Silvermont
Comment=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
Comment[ar]=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
Comment[ast]=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
Comment[be]=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
Comment[bn]=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
Comment[ca]=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
Comment[cs]=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
Comment[da]=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
Comment[de]=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
Comment[el]=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
Comment[en_GB]=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
Comment[eo]=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
Comment[es]=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
Comment[et]=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
Comment[eu]=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
Comment[fi]=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
Comment[fr]=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
Comment[gl]=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
Comment[he]=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
Comment[hr]=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
Comment[hu]=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
Comment[id]=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
Comment[it]=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
Comment[ja]=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
Comment[kk]=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
Comment[ko]=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
Comment[lt]=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
Comment[lv]=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
Comment[nb]=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
Comment[nl]=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
Comment[nn]=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
Comment[pa]=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
Comment[pl]=Silvermont to mikroarchitektury procesorów Atom o niskim poborze mocy, Celeron i Pentium stosowanych w system-on-a-chip\n(SoC) wykonanych przez firmę Intel. SoC z rodziny takiej jak: BayTrail, Braswell lub Avoton. Tu przykładem jest np. Procesor Intel Celeron N3150 

Comment[pt]=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
Comment[pt_BR]=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
Comment[ro]=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
Comment[ru]=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
Comment[sk]=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
Comment[sq]=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
Comment[sr]=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
Comment[sv]=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
Comment[te]=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
Comment[tr]=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
Comment[ug]=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
Comment[uk]=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
Comment[ur]=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
Comment[ur_PK]=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
Comment[vi]=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
Comment[zh_CN]=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
Comment[zh_TW]=Silvermont is a microarchitecture for low-power Atom, Celeron and Pentium branded processors used in systems on a chip (SoCs) made by Intel.\nSoC families like: BayTrail, Braswell or Avoton. Here is an example of eg. Intel Celeron N3150
GenericName=Silvermont
GenericName[ar]=Silvermont
GenericName[ast]=Silvermont
GenericName[be]=Silvermont
GenericName[bn]=Silvermont
GenericName[ca]=Silvermont
GenericName[cs]=Silvermont
GenericName[da]=Silvermont
GenericName[de]=Silvermont
GenericName[el]=Silvermont
GenericName[en_GB]=Silvermont
GenericName[eo]=Silvermont
GenericName[es]=Silvermont
GenericName[et]=Silvermont
GenericName[eu]=Silvermont
GenericName[fi]=Silvermont
GenericName[fr]=Silvermont
GenericName[gl]=Silvermont
GenericName[he]=Silvermont
GenericName[hr]=Silvermont
GenericName[hu]=Silvermont
GenericName[id]=Silvermont
GenericName[it]=Silvermont
GenericName[ja]=Silvermont
GenericName[kk]=Silvermont
GenericName[ko]=Silvermont
GenericName[lt]=Silvermont
GenericName[lv]=Silvermont
GenericName[nb]=Silvermont
GenericName[nl]=Silvermont
GenericName[nn]=Silvermont
GenericName[pa]=Silvermont
GenericName[pl]=Silvermont
GenericName[pt]=Silvermont
GenericName[pt_BR]=Silvermont
GenericName[ro]=Silvermont
GenericName[ru]=Silvermont
GenericName[si]=Silvermont
GenericName[sk]=Silvermont
GenericName[sq]=Silvermont
GenericName[sr]=Silvermont
GenericName[sv]=Silvermont
GenericName[te]=Silvermont
GenericName[tr]=Silvermont
GenericName[ug]=Silvermont
GenericName[uk]=Silvermont
GenericName[ur]=Silvermont
GenericName[ur_PK]=Silvermont
GenericName[vi]=Silvermont
GenericName[zh_CN]=Silvermont
GenericName[zh_TW]=Silvermont

Exec=/opt/NeteXt73/./kernele silvermont
Icon=/opt/NeteXt73/ikony/atom_nowy.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;
Version=1.0
Encoding=UTF-8
# vi:set encoding=UTF-8:
Name[pl_PL.UTF-8]=Silvermont
