Package: netext73
Version: 1.0.66
Architecture: amd64
Maintainer: NetBit73 <netbit73@gmail.com>
Installed-Size: 1547
Depends: python (>= 2.5), netext73-pakiety, xterm, htop, saidar, dkms, ppa-purge, tasksel, xclip, coreutils, powertop, build-essential, libncurses5, pm-utils, mesa-utils, initramfs-tools, lm-sensors, sysbench, ethtool, python-gtk2, gir1.2-gtksource-3.0, yad, curl, libisl13, libatlas3-base, libgsl0ldbl | libgsl2, software-properties-common
Replaces: netext73
Section: contrib/admin
Priority: extra
Homepage: http://www.netext73.pl
Description: NeteXt'73 - optymalizator systemu
  NeteXt'73 to rozbudowane narzedzie do wprowadzania optymalizacji systemow opartych o Ubuntu. Modyfikacje maja na celu podwyzszenie responsywnosci systemu przy jednoczesnym obnizeniu zuzycia energii.
